In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.cross_validation import train_test_split

%matplotlib inline

# Limit rows disp# Limit rows displayed in notebook
pd.set_option('display.max_rows', 20)
pd.set_option('display.precision', 2)

In [38]:
restaurants = pd.read_pickle('restaurant/restaurant_with_topic_dist.pkl')
restaurants.head()

,open,review_count,stars,cat.Active Life,cat.Adult Entertainment,cat.Afghan,cat.African,cat.Airports,cat.American (New),cat.American (Traditional),...,avg_topic_40,avg_topic_41,avg_topic_42,avg_topic_43,avg_topic_44,avg_topic_45,avg_topic_46,avg_topic_47,avg_topic_48,avg_topic_49
0,1,23,2.5,0,0,0,0,0,1,0,...,0,0.0,0,0,0,0,0.0,0,0.0,0.0
1,1,322,4.0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0.0,0.0
2,1,191,3.5,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.1,0,0.1,0.0
3,1,170,3.5,0,0,0,0,0,0,1,...,0,0.0,0,0,0,0,0.0,0,0.0,0.0
4,1,204,4.0,0,0,0,0,0,0,0,...,0,0.1,0,0,0,0,0.0,0,0.1,0.1

In [39]:
y = restaurants.stars
X = restaurants.copy()
del X['stars']
X.head()

,open,review_count,cat.Active Life,cat.Adult Entertainment,cat.Afghan,cat.African,cat.Airports,cat.American (New),cat.American (Traditional),cat.Amusement Parks,...,avg_topic_40,avg_topic_41,avg_topic_42,avg_topic_43,avg_topic_44,avg_topic_45,avg_topic_46,avg_topic_47,avg_topic_48,avg_topic_49
0,1,23,0,0,0,0,0,1,0,0,...,0,0.0,0,0,0,0,0.0,0,0.0,0.0
1,1,322,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0.0,0.0
2,1,191,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.1,0,0.1,0.0
3,1,170,0,0,0,0,0,0,1,0,...,0,0.0,0,0,0,0,0.0,0,0.0,0.0
4,1,204,0,0,0,0,0,0,0,0,...,0,0.1,0,0,0,0,0.0,0,0.1,0.1

## Linear regression

### Run linear regression on the set of features from the business dataset (excluding attributes about reviews)

In [78]:
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
# features from just the business data set
X_1 = X.loc[:,:'wifi.paid']

X_train, X_test, y_train, y_test = train_test_split(X_1, y, test_size=0.3, random_state=12)

reg1 = LinearRegression()
reg1.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, normalize=False)

In [79]:
predicted = reg1.predict(X_test)
print 'Residual sum of squares:'
np.mean((predicted - y_test) ** 2)

Residual sum of squares:

0.26592483222882335

In [80]:
print 'Score:'
reg1.score(X_test, y_test)

Score:

0.17894322199272183

#### Scoring model with cross validation

In [81]:
from sklearn.cross_validation import cross_val_score
scores = cross_val_score(reg1, X_1, y, cv=5)
print "5-fold cross validation scores:"
print scores
print
print "Mean Score: %f" % scores.mean()

5-fold cross validation scores:
[ 0.18809425  0.19408245  0.13636728  0.17114252  0.07577891]

Mean Score: 0.153093

In [82]:
coef_1= pd.DataFrame(zip(X_1.columns.values, reg1.coef_), columns=['Features', 'Coefficient'])
coef_1.sort(columns='Coefficient',ascending=False).head()

            Features  Coefficient
40    cat.Bubble Tea          1.2
108  cat.Food Stands          1.1
185   cat.Pool Halls          0.9
184       cat.Polish          0.9
198   cat.Salvadoran          0.7

### Run linear regression with review attributes added (including topic features)

In [83]:
X_2 = X

X_train, X_test, y_train, y_test = train_test_split(X_2, y, test_size=0.3, random_state=12)

reg2 = LinearRegression()
reg2.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, normalize=False)

In [84]:
coef_2= pd.DataFrame(zip(X.columns.values, reg2.coef_), columns=['Features', 'Coefficient'])
coef_2.sort(columns='Coefficient',ascending=False).head()

            Features  Coefficient
40    cat.Bubble Tea          1.4
108  cat.Food Stands          1.1
185   cat.Pool Halls          1.0
184       cat.Polish          0.8
228   cat.Teppanyaki          0.8

In [85]:
predicted2 = reg2.predict(X_test)
print 'Residual sum of squares:'
np.mean((predicted - y_test) ** 2)

Residual sum of squares:

0.26592483222882335

In [77]:
scores = cross_val_score(reg2, X_1, y, cv=5)
print "5-fold cross validation scores:"
print scores
print
print "Mean Score: %f" % scores.mean()

5-fold cross validation scores:
[ 0.18809425  0.19408245  0.13636728  0.17114252  0.07577891]

Mean Score: 0.153093